$cell-size: 20px;

table.board {
  border-spacing: 0;
  outline: 1px solid rgb(0, 0, 0);

  tr {
    white-space: nowrap;
  }

  td {
    border: 1px solid rgb(0, 0, 0);
    display: inline-block;
    height: $cell-size;
    text-align: center;
    width: $cell-size;

    &.unrevealed {
      background-color: rgb(230, 230, 230);
      cursor: pointer;
    }

    &.revealed {
      background-color: rgb(198, 198, 198);
      cursor: default;
    }

    &.flagged {
      background-color: rgb(198, 198, 198);
      background-image: url("../images/flag.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
    }

    &.wrong {
      background-color: rgb(255, 0, 0);
      cursor: default;
    }

    &.correct {
      background-color: rgb(0, 255, 0);
    }
  }
}
