@import "field";

.big-and-bold {
  font-size: 19px;
  font-weight: 700;
}

#clicktype-form {
  border: 1px solid rgb(0, 0, 0);
  display: inline-block;
  margin-bottom: 18px;

  p {
    display: inline;
  }
}

#fatal-warning,
#win-screen,
#lose-screen {
  display: none;
}


#rules-clickable {
  color: rgb(0, 0, 255);
  cursor: pointer;
  text-decoration: underline;
}
