table.board {
    border-spacing: 0;
    border-collapse: collapse;
}

table.board td {
    text-align: center;
    width: 20px;
    height: 20px;
    border: 2px solid black;
}

td.unrevealed {
    cursor: pointer;
    background-color: #e6e6e6;
}

td.revealed {
    cursor: default;
    background-color: #c6c6c6;
}
